.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.introduction {
  background-color: #4985b0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin); 
  color: white;
}

.about {
  background-color: #092c50; 
  min-height: 100vh; 
  width: 50%; 
  float: left; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.right-about {
  min-height: 100vh; 
  width: 50%; 
  float: left; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.right-contact {
  min-height: 100vh; 
  width: 50%; 
  float: left; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.contact {
  background-color: #4985b0;
  min-height: 100vh; 
  width: 50%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

img {
  max-width:100%; 
  height: auto; 
}

.intro-img {
  width: 70vh; 
}

.section-img {
  width: 40vh; 
  padding-top: 30%;
}

@font-face {
  font-family: "United"; 
  src: url("United-lgZww.ttf") format("truetype"); 
}

.student-header {
  font-family: United; 
  color: #092c50; 
  padding-bottom: 100px; 
}

.intro-button {
  font-family: United; 
  color: #092c50;
  margin-top: 100px; 
  margin:20px; 
}

.intro-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about-button {
  font-family: United; 
  color: #ffffff;
  margin-top: 500px; 
  margin:20px; 
  font-size: 20px; 
}

.about-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about-buttons-holder {
  padding-top: 200px; 
}

.up-arrow {
  width: 10px; 
  color: white;
  margin-right: 70%; 
  padding: 0px; 
}

.up-arrow:hover {
  cursor: pointer;
}

.up-arrow-dark {
  width: 10px; 
  color: #092c50;
  margin-right: 70%; 
  padding: 0px; 
}

.up-arrow-dark:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
