/* .App {
  text-align: center;
} */
@import '~antd/dist/antd.css';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "RobotoMono"; 
  src: url("roboto_mono/RobotoMono-Medium.ttf") format("truetype"); 
}

@font-face {
  font-family: "RobotoMonoLight"; 
  src: url("roboto_mono/RobotoMono-Light.ttf") format("truetype"); 
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: #262626; */
}

.introduction {
  /* font-family: RobotoMono; */
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column; 
  font-size: calc(10px + 2vmin); 
}

.contact-box {
  /* font-family: RobotoMono; */
  height: 95vh;
  max-width: 100%;
  display: flex;
  flex-direction: column; 
  font-size: calc(10px + 2vmin); 
}

.intro-box {
  padding-left: 7%; 
  padding-top: 12vh;
}

.intro-name {
  font-size: calc(30px + 4vw) !important; 
  margin-bottom: 1vh !important;
  margin-top: 10vh;
}

.typing-box {
  margin-bottom: 5vh;
}

.intro-buttons {
  padding-top: 12vh;
  /* font-family: RobotoMono;  */
  padding-left: 7%; 
  padding-bottom: 10vh; 
  width: 100px; 
}

.intro-button {
  /* font-family: RobotoMono;  */
  color: #000000 !important;
  font-size: 18px; 
  padding-top: 1vh;
}

.intro-button:hover {
  text-decoration: underline;
  cursor: pointer;
} 

.intro-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blank-space {
  height: 15vh; 
  background-color: #ffffff;
}

.about-header {
  padding-left: 7%; 
  font-size: calc(50px + 3vw);
  color: black; 
  min-width: 100vw;
  display: inline-block;
  margin-bottom: 1%;
}

.contact-header {
  padding-left: 7%; 
  font-size: calc(50px + 3vw);
  width: 40%; 
  color: black; 
  display: inline-block;
  margin-bottom: 1%;
  margin-top: 4%; 
}

.speech-bubble {
  width: 40%; 
  margin-top: -9%; 
  display: inline-block;
  margin-left: 40%; 
  margin-bottom: 1%;
}

.about-facts {
  /* font-family: RobotoMono;  */
  padding-left: 7%; 
  padding-right: 3%; 
  font-size: calc(15px + .5vw);
  padding-bottom: 1vh;
}

.about-facts-holder {
  padding-bottom: 30px; 
}

.about-text {
  font-size: calc(15px + .5vw);
  padding-left: 7%; 
  /* font-family: RobotoMonoLight; */
  padding-right: 5%; 
  color: #262626;
}

.contact-text {
  font-size: calc(15px + .5vw);
  padding-left: 7%; 
  /* font-family: RobotoMonoLight; */
  padding-right: 5%; 
  color: #262626;
}

.timeline-holder {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px; 
  text-align: center;
}

.link-coloring {
  color: blue; 
}

.footer-holder {
  height: 5vh; 
  background-color: #ffffff; 
}

.footer-text {
  font-size: calc(6px + .5vw);
  /* font-family: RobotoMonoLight; */
  color: black;
  /* margin: -40px !important;  */
  width: 100%;
  text-align: center;
  padding-left: 3%; 
  padding-right: 3; 
}

.experience-box {
  margin-top: 50px; 
  padding-left: 70px; 
  padding-right: 70px; 
} 

.experience-content {
  width: 80%; 
  min-height: 100%; 
  text-align: left !important;
  margin-left: 10%; 
  font-size: 20px; 
  justify-content: left; 
  align-items:left;
  margin-bottom: 50px; 
}

.experience-padding {
  margin-bottom: 3%
}

.contact {
  background-color: #ffffff;
  /* font-family: RobotoMono; */
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  font-size: calc(10px + 2vmin); 
  color: white;
}

.contact-left {
  float: left;
  width: 50%; 
}

.contact-right {
  float: left;
  width: 40%;
}

img {
  display: block;
  width: 15%;
  height: 15%; 
  float: left; 
}

.intro-img {
  width: 70vh; 
  margin-top: 130px; 
  margin-bottom: 130px; 
}

.section-img {
  width: 40vh; 
  padding-top: 30%;
}

@font-face {
  font-family: "United"; 
  src: url("United-lgZww.ttf") format("truetype"); 
}

@font-face {
  font-family: "Gidole";
  src: url("Gidole-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Domotika";
  src: url("Domotika-Regular-trial.ttf") format("truetype");
}

.student-header {
  /* font-family: Domotika;  */
  color: #092c50; 
}

.about-button {
  /* font-family: Domotika;  */
  color: #ffffff;
  margin-top: 500px; 
  margin:20px; 
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.contact-button {
  color: #092c50;
  margin-top: 500px; 
  margin:20px; 
  font-size: 20px; 
}

.about-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about-button-dark {
  /* font-family: United;  */
  color: #092c50;
  margin-top: 500px; 
  margin:20px; 
  font-size: 20px; 
}

.about-button-dark:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about-buttons-holder {
  padding-top: 200px; 
}

.up-arrow {
  width: 10px; 
  color: white;
  margin-right: 80%; 
  padding: 0px; 
  margin-top: -50px; 
}

.up-arrow:hover {
  cursor: pointer;
}

.experience-type-headers {
  background-color: #092c50;
  width: 100%;
  height: 300px; 
}

.contact-info {
  width: 80%; 
  min-height: 100%; 
  text-align: left !important;
  margin-top: 10%; 
  margin-left: 10%; 
  font-size: 20px; 
}

.contact-first-line {
  margin-bottom: 65px; 
}

.contact-second-line {
  margin-bottom: 45px; 
}

.contact-more-info {
  margin-bottom: 7px; 
}

.speech-bubble {
  display: inline-block;
  float: left;
}

.social-link {
  display: inline;
  width: calc(2% + 30px);
  float: right;
  padding-right: 3%; 
  padding-top: 3vh; 
}

.social-link-contact {
  color: #83D1FB;
  margin-right: 2%;
}

.social-buttons {
  padding-right: 6%;
  color: black !important;
}

.react-icons {
  color: #00ccff !important;
}

.react-icons:hover {
  background-color: yellow;
}

.react-icons-box {
  margin-top: 2%;
}

.contact-stats {
  width: 200px;
  margin-bottom: 20px; 
}

/* a, a:link, a:visited {
  color: white;
  text-decoration: none;
} */

.love-footer {
  margin-top: 70%;
  font-size: 15px; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
